.task {
    text-align: center;
    color: red;
}

.indent_footer {
    margin-top: 5rem;
}

.footer {
    color: red;
    font-weight: bold;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    height: 3rem;
    background-color: #797979;
    display: flex;
    justify-content: flex-end;
}

.menu > li {
    background-color: #60DBF6;
    height: 2rem;
    width: 11rem;
    list-style: none;
    margin-bottom: 2rem;
}

.lastLi {
    margin-top: 8rem;
}

.linkInMenu {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.navbar {
    position: relative;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
    display: block;
    background-color: #F660D5;
}

.navbar-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    right: 1rem;
    top: 0.7rem;
    z-index: 5;
    opacity: 0;
}

.navbar-container .hamburger-lines {
    height: 23px;
    width: 35px;
    position: absolute;
    z-index: 2;
    right: 1rem;
    top: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    border-radius: 10px;
    background: #60DBF6;
}

.navbar-container .hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu {
    margin-top: 3rem;
    padding: 100px 50px 0 50px;
    max-width: 300px;
    height: calc(100vh - 85px);
    transform: translate(150%);
    background-color: #797979;
    display: none;
    box-shadow: -5px 5px 5px 0 #aaa;
}

.navbar .menu li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500px;
}

.menu:has(+ .container > input[type="checkbox"]:checked) {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
}

header:has(> .navbar > .container > input[type="checkbox"]:checked) {
    background: #353535;
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
}

.baseImgSect {
    padding: 2rem 2rem;
    background: #D9D9D9;
}

.baseImg {
    width: 100%;
    height: 100%;
}

.articleText {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
}

.headingArticle {
    margin: 1rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
}

.headingNameP {
    font-size: 20px;
    margin-bottom: 0;
}

.productInnerSection {
    margin: 3rem 1rem 0 1rem;
    padding: 2rem 2rem 5rem 2rem;
    background-color: #D9D9D9;
}

.productImg{
    height: 100%;
    width: 100%;
}

.productNameP {
    font-size: 20px;
    margin-bottom: 0;
}

footer {
    margin-top: 5rem;
    height: 7rem;
    background-color: #797979;
}